<div class="col-sm-12 mossaic-panel">
  <div id="workflow_tabs" style="margin-bottom: 15px;">tabs</div>
  <!-- <h1 id="workflow_title">title</h1> -->
  <div id="workflow_slope_display">slope_graphic</div>
  <div id="workflow_form">workflow form</div>
</div>
