<div id="choose_slope_method" style="text-align: center">
<table >
  <tr >
    <td><h4>Enter Slope Name:</h4></td>
    <td><input type="text" placeholder="Slope Name" id="slope_name" value="{{name}}" class="form-control" /></td>
  </tr>
  <tr>
    <td ><h4>Choose Slope Input Method</h4></td>
    <td style="text-align: center">
    <form class="form-inline" >
      <div class="input-group">
        <input type="text" name="initial_height" class="form-control" placeholder="Height" class="input-mini" id="initial_height_input"/>
        <span class="input-group-addon">m</span>
      </div>
      <div class="input-group">
        <input type="text" name="initial_width" class="form-control" placeholder="Width" class="input-mini" id="initial_width_input"/>
        <span class="input-group-addon">m</span>
      </div>
      <div class="input-append">
        <input type="button" value="Draw Slope Freehand"  class="btn" id="draw_slope_btn"/>
      </div>
    </form>

    <h3 style="margin: 1em 0; text-align: center"> Or </h3>
    <input type="button" value="Enter Measurements"  class="btn"  id="enter_slope_measurements_btn"/>
    </td>
  </tr>
</table>

</div>
