<div id="define_instructions">
  <h3>Enter Measurements</h3>
  <p>Click the <i class="icon-lock-open"> </i> to lock an input, or <i class="icon-lock"></i> to unlock an input.</p>
  <p>You may only have two parameters per row unlocked at a time.</p>
</div>

<table id="slope_sections" class="table table-condensed table-striped" style="width:100%; min-width:100%" >
  <thead>
    <tr><th>Height</th><th>Width</th><th>Length</th><th>Angle</th><th>&nbsp;</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
  </tbody>
  <tfoot>
    <tr><td colspan="5">
        <button class="btn btn-small" id="add_slope_section" style="float:left">
          <!-- <i class="icon-plus-sign"></i> -->
          <span class="glyphicon glyphicon-plus"></span>
        </button>
    </td></tr>
  </tfoot>
</table>
