<div id="choose_slope_method" style="text-align: center">
<h4>Choose {{name}} Input Method:</h4>
    <form class="form-inline" style="margin: 0 auto">
      <input type="button" value="Draw Freehand"  class="btn" id="draw_strata_btn"/>
      <strong style="font-size:1.3em">or</strong>
      <input type="button" value="Enter Measurements"  class="btn"  id="type_strata_btn"/>
    </form>
  
</div>