<table id="soil_strata-table" class="table table-condensed table-striped" style="width:100%; min-width:100%">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th colspan=1 id="soil_strata-boreholes_header" style="text-align:center">
        Boreholes
      </th>
      <th>
        <button class="soil_strata-add_borehole btn btn-default btn-sm pull-right">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </th>
    </tr>
    <tr>
      <th rowspan=1 id="soil_strata-strata_header">&nbsp;</th>
      <!-- Cell below is a placeholder for when there are no boreholes.  It gets removed when boreholes are added -->
      <th id="soil_strata-strata_placeholder_cell">&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>


  </tbody>
  <tfoot>
    <tr>
      <th>
        <button class="soil_strata-add_strata btn btn-small last">
          <span class="glyphicon glyphicon-plus"></span></button>
      </th>
      <th colspan=1 id="soil_strata-boreholes_footer">&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </tfoot>
</table>
