<div class="row">
  <div class="col-md-12">
    <div class="row">

      <!-- Datums -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon glyphicon-screenshot"></span>
            <h4 class="panel-title" style="display: inline-block; margin-left: 5px;">Datum</h4>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="metaSearch" />
          </div>

          <div class="btn-group btn-group-padded btn-group-justified" style="padding: 0px 6px" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type='button' ng-click="editDatum()" class='btn btn-info btn-sm'>
                New
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="editDatum(actives.meta)" ng-disabled="!actives.meta" class='btn btn-success btn-sm'>
                Edit
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="deleteDatum(actives.meta)" ng-disabled="!actives.meta" class='btn btn-warning btn-sm'>
                Delete
              </button>
            </div>
          </div>
          <div class="list-group">
            <a ng-repeat="d in data.meta | filter : metaSearch" class="list-group-item" ng-click="selectDatum(d)">
              {{d.value}}
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
          </div>

        </div>
      </div>

      <!-- Cross Sections -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon glyphicon-resize-horizontal"></span>
            <h4 class="panel-title" style="display: inline-block; margin-left: 5px;">Cross-Section</h4>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="crossSectionSearch" />
          </div>
          <div class="btn-group btn-group-padded btn-group-justified" style="padding: 0px 6px" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type='button' ng-click="editCrossSection()" class='btn btn-info btn-sm' ng-disabled="!actives.meta">New</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="editCrossSection(actives.cross_section)" ng-disabled="!actives.cross_section" class='btn btn-success btn-sm'>Edit</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="deleteCrossSection(actives.cross_section)" ng-disabled="!actives.cross_section" class='btn btn-warning btn-sm'>Delete</button>
            </div>
          </div>
          <div class="list-group">
            <a ng-repeat="c in data.cross_section | filter : crossSectionSearch" class="list-group-item" ng-click="selectCrossSection(c)">
              {{c.value}}
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
          </div>
        </div>
      </div>

      <!-- Geometry -->
      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon glyphicon-folder-open"></span>
            <h4 class="panel-title" style="display: inline-block; margin-left: 5px;">Geometry</h4>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="geometrySearch" />
          </div>
          <div class="btn-group btn-group-padded btn-group-justified" style="padding: 0px 6px" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type='button' ng-click="editGeometry()" class='btn btn-info btn-sm' ng-disabled="!actives.cross_section">New</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="editGeometry(actives.geometry)" ng-disabled="!actives.geometry" class='btn btn-success btn-sm'>Edit</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="copyGeometry(actives.geometry)" ng-disabled="!actives.geometry" class='btn btn-other btn-sm'>Copy</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="deleteGeometry(actives.geometry)" ng-disabled="!actives.geometry" class='btn btn-warning btn-sm'>Delete</button>
            </div>
          </div>
          <div class="list-group">
            <a ng-repeat="g in data.geometry track by g.id | filter : geometrySearch" class="list-group-item" ng-click="selectGeometry(g)">
              {{g.value}}
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </a>
          </div>
        </div>
      </div>


      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <span class="glyphicon glyphicon glyphicon-bookmark"></span>
            <h4 class="panel-title" style="display: inline-block; margin-left: 5px;">Task</h4>
          </div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="taskSearch" />
          </div>
          <div class="btn-group btn-group-padded btn-group-justified" style="padding: 0px 6px" role="group" aria-label="...">
            <div class="btn-group" role="group">
              <button type='button' ng-click="editGeometry(actives.geometry,true)" class='btn btn-info btn-sm' ng-disabled="!actives.geometry">New</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="analyzeTask(actives.task)" ng-disabled="!actives.task || actives.task.key[2]!='done'" class='btn btn-success btn-sm'>Analyse</button>
            </div>
            <div class="btn-group" role="group">
              <button type='button' ng-click="deleteTask(actives.task)" ng-disabled="!actives.task" class='btn btn-warning btn-sm'>Delete</button>
            </div>
          </div>
          <div class="list-group">
            <a ng-repeat="t in data.task | filter : taskSearch" ng-class="taskClassMap[t.key[2]]" class="list-group-item" ng-click="selectTask(t)">
              {{t.value}}
              <span class="badge">{{taskStatusMap[t.key[2]]}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
