<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Datum</div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="ctrl.datumSearch"/>
          </div>
          <div class="list-group">
            <a ng-repeat="d in ctrl.data.datum | filter : ctrl.datumSearch" class="list-group-item" ng-click="ctrl.selectDatum(d)">{{d.value}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Cross-Section</div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="ctrl.crossSectionSearch"/>
          </div>
          <div class="list-group">
            <a ng-repeat="d in ctrl.data.crossSection | filter : ctrl.crossSectionSearch" class="list-group-item" ng-click="ctrl.selectCrossSection(d)">{{d.value}}</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Geometry</div>
          <div class="panel-body">
            <input type="text" class="form-control" placeholder="Search..." ng-model="ctrl.geometrySearch"/>
          </div>
          <div class="list-group">
            <a ng-repeat="d in ctrl.data.geometry | filter : ctrl.geometrySearch" class="list-group-item" ui-sref="task.define({id: d.id})">{{d.value}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        Click an item
      </div>
    </div>
  </div>
</div>
