<div id="{{form_id}}" class="mossaic-form">
  <table class="wide">
    <tr>
      <th width="35%"><label>Labour</label></th>
      <th><label>Cost</th>
      <th><label>Quantity</th>
    </tr>
    {{#labour}}
    <tr>
      <td><label id="labour_name_{{name}}_{{index}}">{{name}}</label></td>
      <td><input class="labour_input" style="width: 40%;float: left;" id="labour_cost_{{name}}_{{index}}" value="{{cost}}"></input><label style="width: 40%;float: left;"><small>{{cost_unit}}</small></td>
      <td><input class="labour_input" id="labour_quantity_{{name}}_{{index}}" value="{{quantity}}"></input></td>
    </tr>
    {{/labour}}
  </table>
  <hr />
  <div id="{{form_id}}_add_equipment" />
  <table class="wide">
    <tr>
      <th width="35%"><label>Equipment</label></th>
      <th><label>Capacity</th>
      <th><label>Cost</th>
      <th><label>Quantity</th>
    </tr>
    {{#equipment}}
    <tr>
      <td>
        <label id="equipment_name_{{name}}_{{index}}">{{name}}</label>
      </td>
      <td><input class="equipment_input" style="width: 50%;float: left;" id="equipment_capacity_{{name}}_{{index}}" value="{{capacity}}"></input><label style="width: 35%;float: left;">{{capacity_unit}}</td>
      <td><input class="equipment_input" style="width: 40%;float: left;" id="equipment_cost_{{name}}_{{index}}" value="{{cost}}"></input><label style="width: 40%;float: left;"><small>{{cost_unit}}</small></td>
      <td><input class="equipment_input" id="equipment_quantity_{{name}}_{{index}}" value="{{quantity}}"></input></td>
      <td><button class="delete" id="delete_equipment_{{name}}_{{index}}></button>"
    </tr>
    {{/equipment}}
  </table>
  </div>