<!--<label>Number of upslope sections:</label>
<input id="{{upslope_sections_id}}" />
<label>Number of downslope sections:</label>
<input id="{{downslope_sections_id}}" />-->
<!-- <label>Simulation type:</label>
<label class="radio-label">
  <input id="executable_0" type="radio" class="radio-switch" style="margin-right: 5px;" name="executable" value="chasm" />
  Chasm
</label>
<label class="radio-label">
  <input id="executable_1" type="radio" class="radio-switch" style="margin-right: 5px;" name="executable" value="questa" />
  Questa
</label> -->
{{#upslope_sections}}
<label>Number of upslope sections:</label>
<input id="{{id}}" value="{{value}}" />
{{/upslope_sections}}
{{#downslope_sections}}
<label>Number of downslope sections:</label>
<input id="{{id}}" value="{{value}}" />
{{/downslope_sections}}
