<div> <!-- Unfortunately, we need this spurious div because jQ find() only finds children of the initial element -->
  <input id="soil_form_stochastic" type="checkbox">
  <label for="soil_form_stochastic">Enable stochastic soils</label>
  <table class="wide table table-bordered table-striped">
    <thead>

    </thead>
    <tbody>
        <!-- we programtically insert the rows here -->
    </tbody>
  </table>

</div>