<h3>Enter Measurements</h3>
<p>Click the <i class="icon-ok"/> to lock an input, or <i class="icon-remove"/> to unlock an input.</p>
<p>You may only have two parameters per row unlocked at a time.</p>

<table id="slope_sections" class="table table-condensed" style="width:100%">
  <thead>
    <tr><th>Height</th><th>Width</th><th>Length</th><th>Angle</th><th>&nbsp;</th></tr>
  </thead>
  <tbody>
  </tbody>
</table>

<input type="button" value="Add Row" class="btn btn-primary" id="add_slope_section" style="float:left">

<input type="button" value="Update Slope" class="btn btn-primary" id="update_slope" style="float:right">