<div id="choose_slope_method" style="text-align: center">
  <h3 style="text-align: left; margin: 1em 0">Choose Slope Input Method</h3>
  <form class="form-inline" style="margin: 0 auto">
    <div class="input-append">
      <!-- do not break the line below into 2 - https://github.com/twitter/bootstrap/issues/3238#issuecomment-6056318 -->
      <input type="text" name="initial_height" placeholder="Max Height" class="input-small" id="initial_height_input"/><span class="add-on">m</span>
    </div>
    <div class="input-append">
      <!-- do not break the line below into 2 - https://github.com/twitter/bootstrap/issues/3238#issuecomment-6056318 -->
      <input type="text" name="initial_width" placeholder="Max Width" class="input-small" id="initial_width_input"/><span class="add-on">m</span>
    </div>

    <input type="button" value="Draw Slope Freehand"  class="btn" id="draw_slope_btn"/>
  </form>

  <h3 style="margin: 1em 0"> Or </h3>
  <input type="button" value="Enter Measurements"  class="btn"  id="enter_details_manually_btn"/>


</div>
