<table id="slope_profile" class="wide">
  <tr>
    <th style="width: auto;">Section number</th>
    <th style="width: auto;">Angle (deg)</th>
    <th style="width: auto;">Height (m)</th>
    <th style="width: auto;">Surface Length (m)</th>
  </tr>
{{#all_sections}}
  <tr>
    <td>{{number}}</td>
    <td>
      <input id="section_angle_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" disabled="true" value="{{angle_value}}" />
    </td>
    <td>
      <input id="section_height_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" disabled="true" value="{{surface_height_value}}" />
    </td>
    <td>
      <input id="section_length_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" disabled="true" value="{{surface_length_value}}" />
    </td>
  </tr>
{{/all_sections}}
</table>
{{#road}}
<table id="mossaic_slope_form_slope_road_data" class="wide">
  <tbody>
    <tr>
      <th>
        <label>Road shoulder widths (m)</label>
      </th>
      <td>
        {{#upslope_shoulder}}
          <input id="upslope_shoulder" class="road_shoulder"
              value="{{value}}" />
        {{/upslope_shoulder}}
        {{#downslope_shoulder}}
          <input id="downslope_shoulder" class="road_shoulder"
              value="{{value}}" />
        {{/downslope_shoulder}}
      </td>
    </tr>
  </tbody>
</table>
{{/road}}
<br />
<button class="btn btn-primary wide-button next">Next
</button>