<div>
  <p>Road networks cannot currently be edited, sorry.</p>
  <p>Please select from available road networks.</p>
</div>
<br />
<button class="btn btn-primary wide-button prev"
  style="float: left; width: 50%;">Prev
</button>
<button class="btn btn-primary wide-button next"
  style="float: right; width: 50%;">Next
</button>