<tr class="slope-section">
  <td>
    <div class="input-group">
      <input type="text" class="form-control" name="surface_height" value="{{section.surface_height.value}}">
      <div class="input-group-btn lock-toggle">
        <button type="button" class="btn btn-default">
          <span class="glyphicon {{icons.enabled}}"></span>
        </button>
      </div>
    </div>
  </td>
  <td>
    <div class="input-group">
      <input type="text" class="form-control" name="surface_width" value="{{section.surface_width.value}}">
      <div class="input-group-btn lock-toggle">
        <button type="button" class="btn btn-default">
          <span class="glyphicon {{icons.enabled}}"></span>
        </button>
      </div>
    </div>
  </td>
  <td>
    <div class="input-group">
      <input type="text" class="form-control" name="surface_length" value = "{{section.surface_length.value}}" disabled>
      <div class="input-group-btn lock-toggle">
        <button class="btn btn-default"><span class="glyphicon {{icons.disabled}}"></span></button>
      </div>
    </div>
  </td>
  <td>
    <div class="input-group">
      <input type="text" class="form-control" name="angle" value="{{section.angle.value}}" disabled>
      <div class="input-group-btn lock-toggle">
        <button class="btn btn-default"><span class="glyphicon {{icons.disabled}}"></span></button>
      </div>
    </div>
  </td>
  <td>
    <button class="btn btn-small move_row" style="float:left">
      <span class="glyphicon glyphicon-menu-hamburger"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-small remove_row" style="float:left">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </td>
</tr>
