<div> <!-- Unfortunately, we need this spurious div because jQ find() only finds children of the initial element -->
  <table class="wide table table-bordered table-striped">
    <thead>

    </thead>
    <tbody>
        <!-- we programtically insert the rows here -->
    </tbody>
  </table>

</div>
