<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>{{title}}</h1>
    {{{message}}}
  </div>
  <div class="span8 mossaic-panel">
    <table class="choose-slope">
      <tr>
        <td class="l"><div id="slope_browser" class="ls_widget"></div></td>
        <td class="l"><div id="cross_section_browser" class="ls_widget"></div></td>
        <td><div id="profile_browser" class="ls_widget"></div></td>
      </tr>
      <tr>
        <td class="l"><div id="datum_clear"></div><div id="datum_save"></div></td>
        <td class="l"><div id="cross_section_clear"></div><div id="cross_section_save"></div></td>
        <td class="l"><div id="profile_save"></div></td>
      </tr>
      <tr>
        <td class="l" style="vertical-align: top;"><div id="slope_form"></div></td>
        <td class="l" style="vertical-align: top;"><div id="cross_section_form"></div></td>
        <td class="l" style="vertical-align: top;"><div id="profile_form"></div></td>
      </tr>
    </table>
  </div>
</div>