<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Finalise task</h1>
    <p>Choose a name for your simulation and enter any comments or notes.</p>
    <p>Unsaved input datasets must be named and will be saved
      automatically when the task is created.</p>
  </div>
  <div class="span8 mossaic-panel">
    <div id="task_creator"></div>
  </div>
</div>