<div id="{{form_id}}">
  <table>
    <tr>
      <th><label>Column width (m)</label></th>
      <td><input id="column_width" class="mesh" value="{{column_width}}" /></td>
    </tr>
    <tr>
      <th><label>Cell height (m)</label></th>
      <td><input id="cell_depth" class="mesh" value="{{cell_depth}}" /></td>
    </tr>
  </table>
</div>