<div class="tabs">
{{#groups}}
  <div class="tab_group" style="width: {{width}};">{{name}}</div>
{{/groups}}
  <br />
  <table>
    <tr>
{{#tabs}}
      <td id="tab_{{index}}" class="tab {{tab_class}}" width="{{width}}">{{name}}</td>
{{/tabs}}
    </tr>
  </table>
</div>
