<!-- START analyse_task.html -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="results_viewer"></div>
    </div>
  </div>
</div>
<!-- END analyse_task.html -->
