<!-- START choose_task.html -->
<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Configure your task</h1>
    <p>Specify the type of simulation task you want to create.</p>
  </div>
  <div class="span8 mossaic-panel">
    <div id="task_specifier">
    </div>
  </div>
</div>
<!-- END choose_task.html -->