<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>{{title}}</h1>
    {{{message}}}
  </div>
  <div class="span8 mossaic-panel">
    <table class="choose-slope">
      <tr>
        <td class="l"><div id="datum_browser" class="ls_widget"></div></td>
        <td class="l"><div id="cross_section_browser" class="ls_widget"></div></td>
        <td><div id="profile_browser" class="ls_widget"></div></td>
      </tr>
      <tr>
        <td class="l"><div id="datum_edit"></div><div id="datum_clear"></div></td>  <!-- We attach the ls_create widget here -->
        <td class="l"><div id="cross_section_edit"></div><div id="cross_section_clear"></div></td>
        <td class="l"><div id="profile_edit"></div><div id="profile_clear"></div></td>
      </tr>
      <tr>
        <td class="l" style="vertical-align: top;">
          <div id="datum_form"></div>
        </td>
        <td class="l" style="vertical-align: top;">
          <div id="cross_section_form"></div>
        </td>
        <td class="l" style="vertical-align: top;"><div id="profile_form"></div></td>
      </tr>
    </table>
  </div>
</div>