<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Upload data</h1>
    <p>Upload input datasets in raw CHASM format.</p>
    <p>Datasets will become available for use in simulations a few minutes
      after upload.</p>
    <p>Note: For slope profile and stability data you will need to select
      appropriate parent data before uploading the file.</p>
  </div>
  <div class="span8 mossaic-panel">
    <div id="input_uploader"></div>
  </div>
</div>
