<h2>Disclaimer</h2>

<p>Software downloaded from this website is provided 'as is' without warranty of any kind, either express or implied, including, but not limited to, the implied warranties of fitness for a purpose, or the warranty of non-infringement. Without limiting the foregoing, there is no warranty that:
  <ul>
    <li>the software will meet your requirements</li>
    <li>the software will be uninterrupted, timely, secure or error-free</li>
    <li>the results that may be obtained from the use of the software will be effective, accurate or reliable</li>
    <li>the quality of the software will meet your expectations</li>
    <li>any errors in the software obtained from the BGS web site will be corrected.</li>
  </ul>
</p>

<p>Software and its documentation made available on this web site:
  <ul>
    <li>could include technical or other mistakes, inaccuracies or typographical errors. The software authors, developers and funders may make changes to the software or documentation made available on this web site.</li>
    <li>may be out of date, and no commitment is made to update such materials.</li>
    <li>constitutes information of a general nature only that is not intended to address the specific circumstances of any particular project or application</li>
    <li>does not constitute professional or legal advice — if specific advice is needed, a suitably qualified professional should be consulted</li>
  </ul>
</p>

<p>The software authors, developers and funders assume no responsibility for errors or omissions in the software or documentation available from this web site.</p>
<p>In no event shall the software authors, developers and funders be liable to you or any third parties for any special, punitive, incidental, indirect or consequential damages of any kind, or any damages whatsoever, including, without limitation, those resulting from loss of use, data or profits, whether or not the software authors, developers and funders has been advised of the possibility of such damages, and on any theory of liability, arising out of or in connection with the use of this software.</p>
<p>The use of the software downloaded through this website is at your own discretion and risk and with agreement that you will be solely responsible for any damage to your computer system or loss of data that results from such activities. No advice or information, whether oral or written, obtained by you from the software authors, developers and funders or from this web site shall create any warranty for the software.</p>

<p>None of the individual contributors, authors or developers of this software, nor anyone else connected to it, can take any responsibility for the results or consequences of any use or adoption of any of the materials or information present within this website.  To the fullest extent permitted by law, the authors, developers and web platform managers accept no responsibility for any loss or damage, which may arise from reliance on the guidance, materials or information contained within this web platform. The material in this web platform should therefore be considered as:
  <ul>
    <li>information of a general nature only that is not intended to address the specific circumstances of any particular project or application, unless otherwise specified;</li>
    <li>not necessarily comprehensive, complete, accurate, or up to date; and</li>
    <li>not professional or legal advice — if specific advice is needed, a suitably qualified professional should be consulted</li>
  </ul>
</p>
