<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Specify simulation inputs</h1>
    <div id="specify_profile_tip" />
    <hr />
    <div id="dashboard" />
    <hr />
    <div id="overspill" />
    <div id="widgets">
      <div id="stability_browser" class="ls_widget"></div>
      <div id="stability_clear_model"></div>
      <div id="stability_save"></div>
      <div id="soils_browser" class="ls_widget"></div>
      <div id="soils_clear_model"></div>
      <div id="soils_save"></div>
      <div id="boundary_conditions_browser" class="ls_widget"></div>
      <div id="boundary_conditions_clear_model"></div>
      <div id="boundary_conditions_save"></div>
      <div id="engineering_cost_browser" class="ls_widget"></div>
      <div id="engineering_cost_clear_model"></div>
      <div id="engineering_cost_save"></div>
      <div id="road_network_browser" class="ls_widget"></div>
      <div id="road_network_clear_model"></div>
      <div id="road_network_save"></div>
    </div>
  </div>
  <div class="span8 mossaic-panel">
    <div id="mossaic_tabs"></div>
    <div id="slope_editor"></div>
  </div>
</div>