<!-- home.html -->
<!-- <div class="row mossaic-content">
  <a href="#task-composer"
      class="span3 offset3 btn btn-primary">
    <h2>Task composer</h2>
    <p>Create a new simulation</p>
    <p><br /></p>
  </a>
  <a href="#task_analyser/choose_slope" class="span3 btn btn-primary">
    <h2>Task analyser</h2>
    <p>Analyse simulation results</p>
    <p><br /></p>
  </a>
</div>
<div class="row mossaic-content">
  <a href="#task_status/choose_slope" class="span3 offset3 btn btn-info">
    <h2>Task status</h2>
    <p>View status of current simulations</p>
  </a>
  <a href="#data_upload" class="span3 btn btn-info">
    <h2>Data uploader</h2>
    <p>Upload some simulation input data</p>
  </a>
</div> -->
<!-- end home.html -->
