<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Task status</h1>
    <p>Use the controls below to select a slope profile. View the current
      status of tasks for that profile in the panel on the right.</p>
    <p>Statuses are identified by the following colors:</p>
    <div id="task_status_key"></div>
    <hr />
    <div id="widgets">
      <div id="profile_browser" class="ls_widget"></div>
    </div>
  </div>
  <div class="span8 mossaic-panel">
    <div id="task_status_viewer"></div>
  </div>
</div>