<div class="modal hide"  role="dialog" aria-labelledby="{{id}}-header" aria-hidden="true">
  <div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
    <h3>{{title}}</h3> 
  </div> 

  <div class="modal-body">
    {{& body}}
  </div>
  
  <div class="modal-footer">
    <button class="btn btn1 {{btn1_css}}" data-dismiss="modal" aria-hidden="true">{{btn1_text}}</button>
    {{#btn2_text}}
    <button class="btn btn2 {{btn2_css}}" aria-hidden="true">{{btn2_text}}</button>
    {{/btn2_text}}
  </div>
</div>