<form class="form-horizontal" ">
  <div class="form-errors"> </div>

  <div class="control-group">
    <label class="control-label" for="name">Name</label>
    <div class="controls">
      <input type="text" name="name" placeholder="Name">
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label" for="name">Top Northing</label>
    <div class="controls">
      <input type="text" name="start.lat" placeholder="Top Northing">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="name">Top Easting</label>
    <div class="controls">
      <input type="text" name="start.long" placeholder="Top Easting">
    </div>
  </div> 

  <div class="control-group">
    <label class="control-label" for="name">Bottom Northing</label>
    <div class="controls">
      <input type="text" name="end.lat" placeholder="Toe Easting">
    </div>
  </div> 

  <div class="control-group">
    <label class="control-label" for="name">Bottom Easting</label>
    <div class="controls">
      <input type="text" name="end.long" placeholder="Toe Easting">
    </div>
  </div> 
  
      
    <div class="control-group">
      <label class="control-label" for="name">Comments</label>
      <div class="controls">
        <textarea  placeholder="Comments" name="comments" rows="5" cols="40"></textarea>
      </div>
    </div>
  
</form>
      