<form class="form-horizontal">
  <div class="form-errors"></div>

    <div class="control-group">
      <label class="control-label" for="name">Datum Name</label>
      <div class="controls">
        <input type="text" name="name" placeholder="Datum Name">
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">Northing</label>
      <div class="controls">
        <input type="text" name="location.lat" placeholder="Northing" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">Easting</label>
      <div class="controls">
        <input type="text"  name="location.long" placeholder="Easting" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">Slope breadth (m)</label>
      <div class="controls">
        <input type="text"  name="breadth" placeholder="Breadth" >
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="name">Comments</label>
      <div class="controls">
        <textarea  placeholder="Comments" name="comments" rows="5" cols="40"></textarea>
      </div>
    </div>


  </form>
