<div id="cursor-coordinates">
  <div class="row">
    <div class="col-sm-4">
      <h4>Co-ordinates</h4>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon">X</span>
        <input type="text" name="initial_height" class="input-sm form-control" id="coords_x_m" />
        <span class="input-group-addon">m</span>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="input-group">
        <span class="input-group-addon">Y</span>
        <input type="text" name="initial_height" class="input-sm form-control" id="coords_y_m" />
        <span class="input-group-addon">m</span>
      </div>
    </div>
  </div>
</div>
