<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
      href="vendor/jquery-ui/css/smoothness/jquery-ui-1.8.18.custom.css" />
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="style/mossaic.css" />
    <script src="vendor/couchapp/jquery.js", type="text/javascript">
    </script>
    <script src="lib/mossaic.js" type="text/javascript">
    </script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        var url = unescape(document.location.href).split('/');
        var login_db = url[3] + "_login";
        var login_url = [url[0], url[1], url[2], login_db,
          ["_design/login/index.html"]].join("/");
        var docs_db = url[3] + "_docs";
        $("#login_widget").couchLogin({
          loggedOut: function() {
            window.location.href = login_url;
          }
        });
        var docs_url = [url[0], url[1], url[2], docs_db, ["_design/docs/index"]]
          .join("/");
        $("#link_to_docs").html('<a href="' + docs_url + '">Need help?</a>');
        var retries = 0;
        /**
         * Attempt to start the app. We can't do this until we have the
         * templates, which are stored in the design doc, so we need to wait
         * for an asynchronous call (fired when we load mossaic.router.js)
         * to complete.
         */
        var try_to_launch = function() {
          if (typeof(Mossaic.db.ddoc) !== "undefined") {
            var router = new Mossaic.Router({container: "#mossaic-app"});
            Backbone.history.start();
          } else {
            if (retries < 20) {
              retries++;
              var interval = 5 * retries;
              console.log("Could not get design doc - retrying in " +
                interval + "ms");
              setTimeout(try_to_launch, interval);
            } else {
              console.log("Could not get design doc - max retries reached");
              alert("Application failed to load");
            }
          }
        };
        try_to_launch();
      });
    </script>
  </head>
  <body>
    <div class="mossaic-container">
      <div id="app-container" class="container-fluid">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><img src="image/mossaic_logo.png"></img></li>
              <li><p class=".navbar-text">Application Platform {{VERSION}}</p></li>
              <li style="float: right">
                <div id="login_widget"></div>
                <div id="link_to_docs" style="float: right;"></div>
              </li>
            </ul>
          </div>
          <div id="breadcrumbs">
          </div>
        </div>
        <div id="mossaic-app" class="mossaic-content">
        </div>
        <div class="mossaic-footer">
          <p>
            Copyright <a href="http://mossaic.org">MoSSaiC</a>
            2005-2012 All rights reserved
          </p>
        </div>
      </div>
    </div>
  </body>
</html>