<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Analyse tasks</h1>
    <p>Use the controls below to select a slope profile, simulation task and
      (optionally) simulation job.</p>
    <p>Choose a specific analysis using the panel on the right.</p>
    <hr />
    <div id="widgets">
      <div id="task_browser" class="ls_widget"></div>
      <div id="jobs_browser" class="ls_widget"></div>
    </div>
  </div>
  <div class="span8 mossaic-panel">
    <div id="results_viewer"></div>
  </div>
</div>