Water table drawing...
<div id="{{subform_id}}">
</div>
<br />
<button class="btn btn-primary wide-button prev"
  style="float: left; width: 50%;">Prev
</button>
<button class="btn btn-primary wide-button next"
  style="float: right; width: 50%;">Next
</button>