<div class="row mossaic-content">
  <div class="span4 mossaic-panel">
    <h1>Edit task inputs</h1>
    <p>Use the controls below to browse available input datasets for the
      selected slope.</p>
    <p>Input data can be edited using the forms on the right.</p>
    <p>Edited data can be named when the task is finalised.</p>
    <hr />
    <div id="widgets">
      <div id="profile_browser" class="ls_widget"></div>
      <div id="stability_browser" class="ls_widget"></div>
      <div id="vegetation_browser" class="ls_widget"></div>
      <div id="reinforcements_browser" class="ls_widget"></div>
      <hr class="ls_widget"/>
      <div id="soils_browser" class="ls_widget"></div>
      <div id="boundary_conditions_browser" class="ls_widget"></div>
      <div id="road_network_browser" class="ls_widget"></div>
      <div id="engineering_cost_browser" class="ls_widget"></div>
    </div>
  </div>
  <div class="span8 mossaic-panel">
    <div id="slope_editor"></div>
    <div id="go_to_finalise_task"></div>
  </div>
</div>