<table>
  <tr>
    <th style="width: auto;">Section</th>
    <th style="width: auto;">Angle (deg)</th>
    <th style="width: auto;">Height (m)</th>
    <th style="width: auto;">Surface Length (m)</th>
  </tr>
{{#upslope_sections}}
  <tr>
    <td>{{number}}</td>
    <td>
      <input id="angle_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
    <td>
      <input id="height_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
    <td>
      <input id="length_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
  </tr>
{{/upslope_sections}}
{{#road_section}}
  <tr>
    <td>Road</td>
    <td>
      <input id="angle_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
    <td>
      <input id="height_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
    <td>
      <input id="length_{{number}}" tabindex="{{tabindex}}"
          class="input-thin" />
    </td>
  </tr>
{{/road_section}}
{{#downslope_sections}}
<tr>
  <td>{{number}}</td>
  <td>
    <input id="angle_{{number}}" tabindex="{{tabindex}}"
        class="input-thin" />
  </td>
  <td>
    <input id="height_{{number}}" tabindex="{{tabindex}}"
        class="input-thin" />
  </td>
  <td>
    <input id="length_{{number}}" tabindex="{{tabindex}}"
        class="input-thin" />
  </td>
</tr>
{{/downslope_sections}}
</table>
<br />
<button class="btn btn-primary wide-button next">Next
</button>