body {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #e8e9ed;
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  font-weight: 200;
  color: #484338;
	padding:1em, 5em;
}

h1 {
	font-size: 1.6em;
  font-weight: 400;
  background-color: #d8d9dd;
}

h2 {
  font-size: 1.4em;
  font-weight: 400;
  background-color: #d8d9dd;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
  background-color: #d8d9dd;
}

table {
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  font-weight: 200;
  color: #484338;
}

th {
  width: auto;
}

th.desc {
  width: 50%;
}