<label class="ls_label">{{label}}</label>
<div class="ls">
  <table class="wide">
    <tr>
      <td><input id="{{element_id}}" class="ls_input" type="text"/></td>
      <td>
        <button id="{{button_id}}" class="ls_button btn btn-info" tabindex="-1">
        <span class="caret"></span></button>
      </td>
    </tr>
  </table>
</div>
