<div class="noselect ls_widget">
  <label>{{label}}</label>
  <input id="{{filter_id}}" value="{{filter_val}}" placeholder="Search..."/>
    <div class="filterlist border-light">
    {{#rows}}
      <div id="{{row_id}}" class="{{click_class}} ls_widget_filterlist"
          style="display: {{display}};">
        {{name}}
      </div>
    {{/rows}}
    </div>
</div>