  <tr>
    <th style="width:10%">Soil #</th>
    <th style="width:30%">Cohesion (kNm<sup>-2</sup>)</th>
    <th style="width:30%">Angle of internal friction (deg)</th>
    <th style="width:30%">Ksat (ms<sup>-1</sup>)</th>
  </tr>
