<tr class = "row_{{rownum}}">
  <td>{{rownum}}</td>
  <!-- <td><select id="soil_type_{{rownum}}" class="predefined_soil_select"></select></td> -->
  <td>
    <input type="text" id="effective_cohesion_{{rownum}}" class="form-control" value="{{soil.effective_cohesion.value}}">
  </td>
  <td>
    <input type="text" id="effective_angle_of_internal_friction_{{rownum}}" class="form-control"
      value="{{soil.effective_angle_of_internal_friction.value}}">
  </td>
  <td>
    <input type="text" id="Ksat_{{rownum}}" class="form-control" value="{{exp}}">
  </td>
</tr>
