  <tr>
    <th style="width:10%">Soil</th>
    <th style="width:15%">Type</th>
    <th style="width:25%">Cohesion<br />(kNm-2)</th>
    <th style="width:25%">Angle of internal <br />friction (deg)</th>
    <th style="width:25%">Ksat<br/>(ms-1)</th>
  </tr>
  <tr>
    <th style="width:10%">&nbsp;</th>
    <th style="width:15%">&nbsp;</th>
    <th style="width:22%">
      <span style="width:50%; float:left">Mean</span>
      <span style="width:50%; float:left">S.D.</span>
    </th>
    <th style="width:22%">
      <span style="width:50%; float:left">Mean</span>
      <span style="width:50%; float:left">S.D.</span>
    </th>
    <th style="width:22%">
      <span style="width:50%; float:left">Mean</span>
      <span style="width:50%; float:left">S.D.</span>
    </th>
  </tr>