<tr class = "row_{{rownum}}">
  <td>{{rownum}}</td>
  <td><select id="soil_type_{{rownum}}" class="predefined_soil_select"></select></td>
  <td>
    <input type="text" id="effective_cohesion_{{rownum}}-mean" class="input-thin" 
           value="{{soil.effective_cohesion.mean}}"
    >
    <input type="text" id="effective_cohesion_{{rownum}}-standard_deviation" class="input-thin" 
           value="{{soil.effective_cohesion.standard_deviation}}"
    >
  </td>
  <td>
    <input type="text" id="effective_angle_of_internal_friction_{{rownum}}-mean" class="input-thin" 
      value="{{soil.effective_angle_of_internal_friction.mean}}"
    >
    <input type="text" id="effective_angle_of_internal_friction_{{rownum}}-standard_deviation" class="input-thin" 
      value="{{soil.effective_angle_of_internal_friction.standard_deviation}}"
      >
  </td>
  <td>
    <input type="text" id="Ksat_{{rownum}}-mean" class="input-thin" value="{{soil.Ksat.mean}}">
    <input type="text" id="Ksat_{{rownum}}-standard_deviation" class="input-thin" value="{{soil.Ksat.standard_deviation}}">
  </td>
</tr>
