/********************************/
/* Basic structural style       */
/********************************/

body {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #e8e9ed;
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  color: #484338;
	padding:1em, 5em;
}

h1 {
	font-size: 1.6em;
	font-weight: 500;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
}

th {
  text-align: left;
  width: 35%;
}
td {
  text-align: left;
}

#mossaic-app {
  vertical-align: middle;
}

#app-container {
  height: 100%;
}

#mossaic-hero-image {
  background-image: url(../image/HpSlope.jpg);
  background-size: 100%;
}

#mossaic-hero-text {
  background-color: #000000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 5px;
}

.mossaic-panel {
  background-color: #ffffff;
  border-radius: 6px;
  padding: 5px;
}

.mossaic {
  background-color: #ffffff;
}

.mossaic-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mossaic-row {
  height: 100%;
}

.mossaic-footer {
  position: fixed;
  bottom: 0;
}

.mossaic-form {
  width: 100%;
  float: left;
}

/* Overridden */
.navbar {
  color: #28a4da;
}

.navbar-inner {
  background-color: #ffffff;
  background-image: none;
  height: 50px;
}

.navbar .divider-vertical {
  vertical-align: middle;
  background-color: #CCC;
  height: 50px;
}

.navbar .nav > li {
  vertical-align: middle;
}

.nav {
  width: 100%;
}

.hero-unit {
  color: #28a4da;
}

input,
textarea,
select,
.uneditable-input {
  width: auto;
}

label {
  font-weight: bold;
}

/********************************/
/* Slope editor workflow styles */
/********************************/

#mossaic_slope_form {
  height: 40%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

#mossaic_slope_form_container {
  float: right;
  width: 100%;
}

#mossaic_slope_display {
  margin-top: 5px;
  width: 100%;
  background-color: #fff;
}

.radio-switch {
  float: left;
  margin-right: 5px;
}

.radio-label {
  font-weight: normal;
}

.input-thin {
  width: 40px;
}

.wide {
  width: 100%;
}

.tabs {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border: solid #e9e9eb;
  border-width: 0px 0px 1px 0px;
}
.tabs_table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.tab {
  border: 1px solid #e9e9eb;
  border-width: 0px 1px 0px 1px;
  text-align: center;
  font-size: small;
  background-color: #FFFFFF;
  color: #28a4da;
}

.mesh {
  stroke: #ececff;
  stroke-width: 1;
}
.water_table {
  stroke: lightskyblue;
  stroke-width: 3;
}

.slope_sections {
    stroke: steelblue;
    stroke-width: 6;
    stroke-linecap: round;
    fill: none;
}

.x_label {
  color: #918c7a;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 8pt;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.y_label {
  color: #918c7a;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 8pt;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

line { stroke: #484338; }

.chart rect {
	font: 10px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
}

text {
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: 9pt;
}

input[type=checkbox] {
  width: 20;
  float: left;
  margin-right: 5px;
}

button.delete {
  width: 15px;
  background: transparent url(../image/delete-mini.png) no-repeat left;
  border: none;
  padding: 0;
  height: 20px;
}

button.delete:hover {
  background: transparent url(../image/delete-mini.png) no-repeat right;
}

button.add {
  background: transparent url(../image/add.png) no-repeat top left;
  border: none;
  padding: 0px 0px 0px 20px;
  height: 20px;
  background-position: 0px 1px;
  color: #023399;
  font-weight: 500;
}

button.add:hover {
  background-position: 0px -31px;
  color: #003196;
}

/********************************/
/* Visualisations styles        */
/********************************/

.legend_box {
  fill: #FFFFFF;
  stroke: #acacac;
  stroke-width: 1;
}

.outline {
  stroke: #484338;
  stroke-width: 1;
  fill: #fff;
}

.fos_single {
  stroke: orangered;
}

.fos_tick {
  stroke: orangered;
  stroke-width: 1;
}

.fos_label {
  stroke: orangered;
  stroke-width: 0.5;
  font-size: 9px;
  font-weight: 100;
}

.fos_title {
  stroke: orangered;
  stroke-width: 0.5;
  font-size: 9px;
  font-weight: 50;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#slip_circle {
  stroke-width: 2;
}

/********************************/
/* Styles for widgets           */
/********************************/

input {
  width: 60;
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  text-align: right;
}

textarea {
  resize: vertical;
}

.wide-button {
  width: 100%;
}

.half-button {
  width: 50%;
  float: left;
}

.ls {
  float: right;
  width: 65%;
}

.ls_label {
  float: left;
  width: 35%;
  margin-bottom: 5px;
  font-weight: bold;
}

.selected {
  background-color: #28a6d9;
  color: #FFFFFF;
}

#ls_widget {
  height: 100%;
  width: 100%;
  float: left;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.dirty {
  color: #AAAAAA;
}

.filterlist {
  height: 200px;
  overflow-y: scroll;
}

.choose-slope td .l {
  padding: 2px 5px 2px 5px;
}

.border-light {
  border: 1px solid #cccccc;
}

.ls_widget_filterlist {
  padding: 2px 2px 2px 2px;
}

.ls_widget {
  width: 100%;
  float: left;
  cursor: default;
}

.ls_button {
  vertical-align: top;
  float: left;
  margin-bottom: 9px;
}

.ls_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab_group {
  float: left;
  text-align: center;
  color: #28a4da;
}

.tab_disabled {
  background-color: #DDDDDD;
  color: #28a4da;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
  text-align: center;
}

.tab_unselected {
  background-color: #FFFFFF;
  color: #28a4da;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
  text-align: center;
}

.tab_unselected:hover {
  background-color: #28a6d9;
  color: #FFFFFF;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
}
.tab_selected {
  background-color: #28a6d9;
  color: #FFFFFF;
  border: 1px solid #cccccc;
  border-width: 1px 1px 1px 1px;
}

/* Override font choices of jquery-ui
 */
.ui-widget {
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  font-size: 8pt;
}