<tr class="slope-section">
  <td><input type="text" class="input-mini slope-height" data-param="height"><i class="{{enabled}}"></i></td>
  <td><input type="text" class="input-mini slope-width" data-param="width"><i class="{{enabled}}"></i></td>
  <td><input type="text" class="input-mini slope-length" data-param="length" disabled><i class="{{disabled}}"></i></td>  
  <td><input type="text" class="input-mini slope-angle" data-param="angle" disabled><i class="{{disabled}}"></i></td>
  <td><i class="icon-trash" style="margin-top:5px"></td>
</tr>
