<div id="cross_section_form-wrapper" class="border-light comments-box">
  <div id="cross_section_form-header" class="comments-header">Comments</div>
  <div id="cross_section_form-comments" class="comments-content">{{comments}}</div>
</div>