<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4>The following errors occured:</h4>
  <ul>
  {{#.}}
    <li style="list-style: none"><strong>{{field}}</strong> - {{msg}} </li>
  {{/.}}
  </ul>
</div>
    
    