<th data-borehole="{{n}}">
  <div class="form-inline" style="margin: 0">
    <span class="soil_strata-borehole_human_number" data-borehole="{{n}}">
      <!-- {{n_human}} take out for now... -->
    </span>
    <div class="input-group">
      <input type="text" data-borehole="{{n}}" placeholder="distance" class="soil_strata-borehole_distance form-control" id="soil_strata-borehole_distance_{{n}}">
      <div class="input-group-btn">
        <button class="soil_strata-remove_borehole btn btn-small btn-danger" data-borehole="{{n}}">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
      </div>
    </div>
  </div>
</th>
