<!-- START templates/create_model.html - template -->
<button id="{{id}}_new" class="btn ">New</button>
<button id="{{id}}_edit" class="btn ">Edit</button>


<div id="{{dialog_id}}" class="modal fade"  role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header"> 
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> 
    <h3 id="myModalLabel">Edit Datum</h3> 
  </div> 
  <div class="modal-body" id="{{dialog_body_id}}">
  
  </div>
  
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <div id="{{save_id}}"></div>
    <!-- <button class="btn btn-primary">Save changes</button> -->
  </div>
</div>



<!-- END templates/create_model.html template -->