<div id="slope_data_panel">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Parameters</h3>
    </div>
    <table class="table">
      <tr><th colspan="2"><h4>Hourly Data</h4></th></tr>
      <tr><th>Hour (h)</th><td>{{hour}} </td></tr>
      <tr><th>Influx (mm/h)</th><td>{{influx}} </td></tr>
      <tr><th>Moisture (m<sup>3</sup>)</th><td>{{moisture}} </td></tr>
      <tr><th>Rainfall (mm/h)</th><td>{{hourlyRainfall}}</td></tr>

      <tr><th colspan="2"><h4>Simulation ({{title}})</h4></th></tr>
      {{#cell}}
      <tr><th>Cell Value</th><td>{{cell.value}}</td></tr>
      <tr><th>Cell co-ords</th><td>({{cell.x}},{{cell.y}})</td></tr>
      {{/cell}}
      {{#soil}}
      <tr><th>Cohesion (kNm<sup>-2</sup>)</th><td>{{soil.effective_cohesion.value}}</td></tr>
      <tr><th>Angle (&deg;)</th><td>{{soil.effective_angle_of_internal_friction.value}}</td></tr>
      <tr><th>Ksat (ms<sup>-1</sup>)</th><td>{{soil.Ksat.value}}</td></tr>
      {{/soil}}

      <tr><th colspan="2"><h4>Slip Circle</h4></th></tr>
      <tr><th>Center X (m)</th><td>{{circle.x}}</td></tr>
      <tr><th>Center Y (m)</th><td>{{circle.y}}</td></tr>
      <tr><th>Radius (m)</th><td>{{circle.r}}</td></tr>

      <tr><th colspan="2"><h4>Stability</h4></th></tr>
      <tr><th>FoS</th><td>{{fos}}</td></tr>
      <tr><th>Runout (m)</th><td>{{runout}}</td></tr>
      <tr><th>Seismicity (m/s<sup>2</sup>)</th><td>{{seismicity}}</td></tr>

    </table>
  </div>
<div>
