<table class="listing wide">
  <tr>
    <th>Input data type</th>
    <td>
      <select id="input_type">
        <option id="boundary_conditions">Boundary conditions</option>
        <option id="engineering_cost">Engineering cost</option>
        <option id="geometry" selected="selected">Slope profile</option>
        <option id="soils">Soils data</option>
        <option id="stability">Stability</option>
      </select>
    </td>
  </tr>
</table>
<div id="data_upload_ls_datum" class="ls_widget"></div>
<div id="data_upload_ls_cross_section" class="ls_widget"></div>
<div id="data_upload_ls_geometry" class="ls_profile"></div>
<table id="foo" class="listing wide">
  <tr>
    <th>Input data name</th>
    <td><input type="text" id="input_name"></input></td>
  </tr>
</table>
<form id="input_upload_form" action="" method="post" style="width: 100%;">
  <table class="listing wide">
    <input type="hidden" id="rev" name="_rev" value="" />
    <tr>
      <th>Input data file</th>
      <td><input type="file" id="input_file" name="_attachments"></input></td>
    </tr>
    <tr>
      <th></th>
      <td>
        <button type="submit" id="upload_input" class="btn btn-warning">
          Upload
        </button>
      </td>
    </tr>
  </table>
</form>
