  <div class="tabs">
    <table class="tabs_table">
      <tr>
        {{#analysers}}
          <td id="{{id}}" class="analyser_select tab {{tab_class}}">{{name}}</td>
        {{/analysers}}
      </tr>
    </table>
  </div>
  <div id={{child_div}}></div>
  
