<table style="width: 100%;">
      {{#meta_inputs}}
        <tr>
          <th>{{type_pretty}}</th>
          <td><input id="{{type}}" value="{{input_name}}">
          </input></td>
        </tr>
      {{/meta_inputs}}
        <tr>
          <th>Task name</th>
          <td><input type="text" id="name" value="{{name}}"></input></td>
        </tr>
        <tr>
          <th>Application</th>
          <td>
            <select id="executable">
              {{#executables}}<option id="{{application}}_{{version}}">{{application}} {{version}}</option>{{/executables}}
            </select>
          </td>
        </tr>
        <tr>
          {{#time_step}}
          <th>Time step ({{unit}})</th>
          <td><input type="text" id="time_step" value="{{value}}"></input></td>
          {{/time_step}}
        </tr>
        {{#inputs}}
          <tr>
            <th>{{type_pretty}}</th>
            <td><input id="{{type}}" value="{{input_name}}">
            </input></td>
            <td style="text-align: left">{{stochastic_or_deterministic}}</td>
          </tr>
        {{/inputs}}
        <tr>
          <th>Notes</th>
          <td><textarea id="notes" rows="5" value="{{notes}}"></textarea></td>
        </tr>
        <tr>
          <th>Number of jobs</th>
          <td><input id="number_of_jobs" value="{{number_of_jobs}}"></input></td>
        </tr>
        </table>
        <button id="submit_task" class="btn btn-primary wide-button">
        Create task</button>