/********************************/
/* Basic structural style       */
/********************************/

html, body {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #E7E9ED;
  font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  color: rgb(51,51,51);
}

h1 {
	font-size: 1.6em;
	font-weight: 500;
  color: #27A6D9;
}

h2 {
  font-size: 1.4em;
  font-weight: 500;
  color: #27A6D9;
}

h3 {
  font-size: 1.3em;
  font-weight: 500;
  color: #27A6D9;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

#mossaic-app {
  vertical-align: middle;
}

#mossaic-hero-image {
  background-image: url(../image/HpSlope.jpg);
  background-size: 100%;
}

#mossaic-hero-text {
  background-color: #000000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 6px;
  padding: 5px;
}

.mossaic-panel {
  background-color: #ffffff;
  /*border-radius: 6px;*/
  padding: 5px;
  box-sizing: border-box;
}

.mossaic {
  background-color: #ffffff;
}

.mossaic-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mossaic-row {
  height: 100%;
}

footer{
  background-color: #27A6D9;
  color: #fff;
  text-align: center;
  padding: 6px;
  margin-top: 10px;
}

ul.footer-links{
  list-style: none;
}

ul.footer-links li{
  line-height: 1em;
  margin: 0;
  padding: 0 1rem;
  border-right: 1px solid #fff;
  float: left;
  display: block;
}

ul.footer-links li:last-child{
  border-right: 0;
}

ul.footer-links a{
  color: #fff;
}

.mossaic-form {
  width: 100%;
  float: left;
}

/* Overridden */
.navbar {
  color: #27A6D9;
  margin-bottom: 0px;
}

.navbar-inner {
  background-color: #ffffff;
  background-image: none;
  height: 50px;
}

.navbar .divider-vertical {
  vertical-align: middle;
  background-color: #CCC;
  height: 50px;
}

.navbar .nav > li {
  vertical-align: middle;
}

.nav {
  width: 100%;
}

.hero-unit {
  color: #28a4da;
}

input,
textarea,
select,
.uneditable-input {
  width: auto;
}

label {
  font-weight: bold;
}

.error-background {
  background-color: #FF8585 !important; /* We want this to override any other background set by bootstrap etc */
}

table thead th {
  background-color:#DDD;
}

/********************************/
/* Slope editor workflow styles */
/********************************/

#mossaic_slope_form {
  height: 40%;
  width: 100%;
  overflow: auto;
  background-color: #fff;
}

#mossaic_slope_form_container {
  float: right;
  width: 100%;
}

#mossaic_slope_display {
  margin-top: 5px;
  width: 100%;
  background-color: #fff;
}

#workflow_title {
  margin-top:0;
  padding-top:0;

}

#cursor-coordinates {
  /*border: 1px solid #ccc;*/
  margin:0 auto;
  /*height: 35px;*/
  width: 500px;
  /*padding:10px;*/
}

/*#cursor-coordinates div {
 padding-right: 10px;
 float:left;
 vertical-align: middle;
}*/

.radio-switch {
  float: left;
  margin-right: 5px;
}

.radio-label {
  font-weight: normal;
}

.input-thin {
  width: 40px;
}

.wide {
  width: 100%;
}

#slope_sections input[disabled] {
  cursor: default;
}

#slope_sections i {
  cursor: pointer;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 34px;
  padding: 2px;
  font-size: 13px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tabs {
  width: 100%;
  height: 55px;
  background-color: #fff;
  border: solid #e9e9eb;
  border-width: 0px 0px 1px 0px;
}
.tabs_table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
}
.tab {
  border: 1px solid #e9e9eb;
  border-width: 0px 1px 0px 1px;
  text-align: center;
  font-size: small;
  background-color: #FFFFFF;
  color: #28a4da;
}

.mesh {
  stroke: #ececff;
  stroke-width: 1;
}
.water_table {
  stroke: lightskyblue;
  stroke-width: 3;
}

.water_table_points{
  fill: lightskyblue;
}

.slope_sections {
    stroke: steelblue;
    stroke-width: 6;
    stroke-linecap: round;
    fill: none;
}

.x_label {
  color: #918c7a;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 8pt;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

.y_label {
  color: #918c7a;
  font-family: Helvetica Neue, Helvetica, Arial;
  font-size: 8pt;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
}

line { stroke: #484338; }
line.water-table-line{
  /*stroke: #FF0000;*/
  stroke: #FFF;
}

#workflow_buttons {
  text-align: center;
}

path {
  fill: none;
}

path.drawable {
  stroke: #86A5C4;
  stroke-width: 6;
}

path.strata_interface_line {
  stroke-width: 5;

}

#strata_interface_circle {
  fill: red;
}

#datum_bar_v, #datum_bar_h {
  pointer-events:none;
}

circle.drawable {
   fill: #E3BA6F;
}

.chart rect {
	font: 10px sans-serif;
	text-align: right;
	padding: 3px;
	margin: 1px;
}

text {
	font-family: Helvetica Neue, Helvetica, Arial;
	font-size: 9pt;
}

input[type=checkbox] {
  width: 20;
  float: left;
  margin-right: 5px;
}

button.delete {
  width: 15px;
  background: transparent url(../image/delete-mini.png) no-repeat left;
  border: none;
  padding: 0;
  height: 20px;
}

button.delete:hover {
  background: transparent url(../image/delete-mini.png) no-repeat right;
}

button.add {
  background: transparent url(../image/add.png) no-repeat top left;
  border: none;
  padding: 0px 0px 0px 20px;
  height: 20px;
  background-position: 0px 1px;
  color: #023399;
  font-weight: 500;
}

button.add:hover {
  background-position: 0px -31px;
  color: #003196;
}

/********************************/
/* Visualisations styles        */
/********************************/

.legend_box {
  fill: #FFFFFF;
  stroke: #acacac;
  stroke-width: 1;
}

.outline {
  stroke: #484338;
  stroke-width: 1;
  fill: #fff;
}

.fos_single {
  stroke: orangered;
}

.fos_tick {
  stroke: orangered;
  stroke-width: 1;
}

.fos_label {
  stroke: orangered;
  stroke-width: 0.5;
  font-size: 9px;
  font-weight: 100;
}

.fos_title {
  stroke: orangered;
  stroke-width: 0.5;
  font-size: 9px;
  font-weight: 50;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#slip_circle {
  stroke-width: 2;
}

/********************************/
/* Styles for widgets           */
/********************************/

input {
  width: 60;
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
}

textarea {
  resize: vertical;
}

.wide-button {
  width: 100%;
}

.half-button {
  width: 50%;
  float: left;
}

.ls {
  float: right;
  width: 65%;
}

.ls_label {
  float: left;
  width: 35%;
  margin-bottom: 5px;
  font-weight: bold;
}

.selected {
  background-color: #28a6d9;
  color: #FFFFFF;
}

#ls_widget {
  height: 100%;
  width: 100%;
  float: left;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

.dirty {
  color: #AAAAAA;
}

.filterlist {
  height: 200px;
  overflow-y: scroll;
}

.choose-slope td .l {
  padding: 2px 5px 2px 5px;
}

.choose-slope .comments-box {
  font-size:0.9em;
  width: 150px;
  padding: 2px;
  margin: 2px;
  height: 196px;
}

.choose-slope .comments-header {
  font-weight:bold;
}

.choose-slope .comments-content {
  text-overflow: ellipsis;
  overflow-y: auto;
}

.border-light {
  border: 1px solid #cccccc;
}

.ls_widget_filterlist {
  padding: 2px 2px 2px 2px;
}

.ls_widget {
  width: 100%;
  float: left;
  cursor: default;
}

.ls_button {
  vertical-align: top;
  float: left;
  margin-bottom: 9px;
}

.ls_input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.tab_group {
  float: left;
  text-align: center;
  color: #28a4da;
}

.tab_disabled {
  background-color: #DDDDDD;
  color: #28a4da;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
  text-align: center;
}

.tab_unselected {
  background-color: #FFFFFF;
  color: #28a4da;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
  text-align: center;
}

.tab_unselected:hover {
  background-color: #28a6d9;
  color: #FFFFFF;
  border: solid #cccccc;
  border-width: 1px 1px 1px 1px;
}
.tab_selected {
  background-color: #28a6d9;
  color: #FFFFFF;
  border: 1px solid #cccccc;
  border-width: 1px 1px 1px 1px;
}

/* Override font choices of jquery-ui
 */
.ui-widget {
  font-family: Helvetica Neue, Helvetica, Arial, FreeSans, san-serif;
  font-size: 8pt;
}

/* Override Bootstrap styling */
.nav-tabs li a {
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.nav {
  margin-bottom: 0 !important;
}


/* Specific Page Styles */
#choose_slope_method table tr td {
  vertical-align: top;
  padding: 1em;
}

#choose_slope_method table tr td h4 {
  padding:0;
  margin:0;
}

/* For now hide the breadcrumbs */
#breadcrumbs {
  display: none;
}

#slope_data_panel{
  position: absolute;
  top: 30px;
  right: 0;
  min-width: 160px;
  overflow-y: hide;
}

#slope_data_panel th,
#slope_data_panel td{
  padding: 2px 4px;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 0;
}

#slope_data_panel h4{
  padding: 0;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

#slope_data_panel th[colspan]{
  background-color: #28a6d9;
  color: #fff;
}

#slope_data_panel .panel-heading{
  padding: 5px 10px;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  text-align: center;
}

#variable_select{
  position: absolute;
  top: 0;
  left: 0;
}

#results_viewer_child{
  position: relative;
  margin: 10px 0;
}

.axis-input{
  width: 60px;
  height: 25px;
  position: absolute;
  font-size: 10px;
  padding: 1px;
}

svg.slope-chart{
  display: block;
  margin: 0 auto;
}
