    <div id="workflow_buttons">

            <button class="pull-left btn btn-default prev">
              <i class="glyphicon glyphicon-chevron-left icon-white"></i>
                Prev
            </button>
            <span id="extra_buttons">
                <!-- This is somewhere a workflow tab can insert any extra buttons it needs -->
            </span>
            <button class="pull-right btn btn-primary next" >
              Next
              <i class="glyphicon glyphicon-chevron-right icon-white"></i>
            </button>

    </div>
