<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Datum</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" readonly value="{{meta}}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Cross Section</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" readonly value="{{cross_section}}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Profile</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" readonly value="{{geometry}}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Number of rainfall events</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" readonly value="{{storm_count}}" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Length of simulation *</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" class="form-control" name="simulation_parameters.length" value="{{default_length}}" min="{{min_length}}"/>
        <span class="input-group-addon">hours</span>
      </div>
      <p>Length must be at least {{min_length}} hours</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Hydrology time step *</label>
    <div class="col-sm-9">
      <div class="input-group">
        <input type="number" min="10" max="120" value="60" class="form-control" name="time_step.value" />
        <span class="input-group-addon">seconds</span>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Application *</label>
    <div class="col-sm-9">
      <select id="executable" class="form-control">
        {{#executables}}
        <option id="{{application}}_{{version}}">{{application}} {{version}}</option>{{/executables}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Task Name *</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" name="name" />
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Task Notes</label>
    <div class="col-sm-9">
      <textarea rows="4" class="form-control" name="task_notes" />
    </div>
  </div>
  <div>
    <button class="pull-left btn btn-default prev">
      <i class=" icon-chevron-left icon-white"></i> Prev
    </button>
    <div class="pull-right">
      <button type="submit" class="btn btn-primary" id="submit">Submit Task</button>
    </div>
  </div>
</form>
