@import "../_attachments/vendor_new/bootstrap/less/bootstrap.less";
@brand-primary: #C04E00;
@brand-info: #27A6D9;
@brand-warning: #983e10;
@brand-success: #ff7f00;
@brand-other: #be4f16;

.btn-other, .btn-other[disabled]{
  background-color: @brand-other;
  border-color: @brand-other;
  color: #fff;
}

.list-group-item.active, .list-group-item.active:hover{
  background-color: #d8d8d8;
  border-color: #d8d8d8;
  color: #000;
}

.form-control{
  border-radius: 0;
}

.btn-group.btn-group-padded .btn-group{
  padding: 4px;
  .btn{
    border-radius: 0;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  color: #27A6D9;
}
