<div class="modal-header">
    <h3 class="modal-title">Copy Geometry</h3>
</div>
<div class="modal-body">
  <form name="copy">
    <div class="form-group">
      <label>Please input a name for the new geometry</label>
      <input type="text" class="form-control" ng-model="data.name" placeholder="New Geometry Name" required>
    </div>
  </form>
  <p ng-if="data.doingCopy">Copying geometry...</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-info" type="button" ng-click="createCopy()" ng-disabled="!copy.$valid">Copy Geometry</button>
</div>
