<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <form name="meta">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" ng-model="data.name" placeholder="Name" required>
      <input type="hidden" class="form-control" ng-model="data.type" value="cross_section">
    </div>
    <div class="form-group">
      <label>Top Northing</label>
      <input type="text" class="form-control" ng-model="data.start.lat" placeholder="Top Northing" required>
    </div>
    <div class="form-group">
      <label>Top Easting</label>
      <input type="text" class="form-control" ng-model="data.start.long" placeholder="Top Easting" required>
    </div>
    <div class="form-group">
      <label>Bottom  Northing</label>
      <input type="text" class="form-control" ng-model="data.end.lat" placeholder="Bottom Northing" required>
    </div>
    <div class="form-group">
      <label>Bottom Easting</label>
      <input type="text" class="form-control" ng-model="data.end.long" placeholder="Bottom Easting" required>
    </div>
    <div class="form-group">
      <label>Comments</label>
      <textarea class="form-control" rows="4" ng-model="data.comments" placeholder="Comments">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-info" type="button" ng-click="save()" ng-disabled="!meta.$valid">Save</button>
</div>
