<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
  <form name="meta">
    <div class="form-group">
      <label>Datum Name</label>
      <input type="text" class="form-control" ng-model="data.name" placeholder="Datum Name" required>
      <input type="hidden" class="form-control" ng-model="data.type" value="meta">
    </div>
    <div class="form-group">
      <label>Northing</label>
      <input type="text" class="form-control" ng-model="data.location.lat" placeholder="Northing" required>
    </div>
    <div class="form-group">
      <label>Easting</label>
      <input type="text" class="form-control" ng-model="data.location.long" placeholder="Easting" required>
    </div>
    <div class="form-group">
      <label>Slope Breadth (m)</label>
      <input type="text" class="form-control" ng-model="data.breadth.value" placeholder="Slope Breadth" required>
      <input type="hidden" class="form-control" ng-model="data.breadth.unit" value="m">
    </div>
    <div class="form-group">
      <label>Comments</label>
      <textarea class="form-control" rows="4" ng-model="data.comments" placeholder="Comments">
    </div>
  </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-info" type="button" ng-click="save()" ng-disabled="!meta.$valid">Save</button>
</div>
