<div class="modal-header">
    <h3 class="modal-title">Edit Geometry</h3>
</div>
<div class="modal-body">
  <p>Are you sure you wish to edit this geometry? If you change the slope definition, soil strata or water table, any existing tasks you have created will not match the new geometry.</p>
  <p>Options:
    <ul>
      <li>If you want to overwrite the original slope definition, soil strata or water table then click “Edit Geometry” to continue. (It is recommended you also delete any tasks associated with the original geometry).</li>
      <li>If you want to keep the original slope geometry and associated tasks, and edit the slope definition, soil strata or water table then click “Cancel”, use the "Copy" geometry function and then “Edit” the copy.</li>
      <li>If you just want to edit the soil types, boundary conditions or stability parameters then click “Cancel” and use the “New” task function for the existing geometry.</li>
    </ul>
  </p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    <button class="btn btn-info" type="button" ng-click="edit()">Edit Geometry</button>
</div>
