<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="style/mossaic.css" />
    <script src="vendor/couchapp/jquery.js", type="text/javascript">
    </script>
    <script src="vendor/couchapp/jquery.couch.js", type="text/javascript">
    </script>
    <script src="vendor/couchapp/jquery.couchLogin.js" type="text/javascript">
    </script>
    <script src="vendor/couchapp/sha1.js" type="text/javascript">
    </script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
        var url = unescape(document.location.href).split('/');
        var gui_db = url[3].split("_login")[0];
        var gui_url = [url[0], url[1], url[2], gui_db,
          ["_design/gui/index.html"]].join("/");
        var docs_db = gui_db + "_docs";
        var login_widget_elem = $("#login_widget");

        $.couch.login({
          name: 'chasm',
          password: 'chasm',
          success: function(){
            window.location.href = gui_url;
          }
        });

        login_widget_elem.couchLogin({
          defaultForm: "loginForm",
          loggedIn: function(userCtx) {
            if (userCtx.roles.indexOf("mossaicadmin") !== -1) {
              window.location.href = gui_url;
            } else {
              var no_auth_message = "<hr /><p>You have successfully logged in,\
                but you do not currently have permission to access the MoSSaiC\
                platform.</p>\
                <p>Please\
                <a href=\"mailto:{{ADMIN_EMAIL}}?subject=\
MAP request from user " + userCtx.name + "\">email the\
                administrator</a> to request access.";
              login_widget_elem.append(no_auth_message);
            }
          }
        });
        var docs_url = [url[0], url[1], url[2], docs_db, ["_design/docs/index"]]
          .join("/");
        $("#link_to_docs").html('<a href="' + docs_url + '">Need help?</a>');
      });
    </script>
  </head>
  <body>
    <div class="mossaic-container">
      <div id="app-container" class="container-fluid">
        <div class="navbar">
          <div class="navbar-inner">
            <ul class="nav">
              <li><img src="image/mossaic_logo.png"></img></li>
              <li><p class=".navbar-text">Application Platform {{VERSION}}</p></li>
              <li style="float: right;"><div id="link_to_docs" style="float: right;"></div></li>
            </ul>
          </div>
        </div>
        <div id="mossaic-content">
          <div class="row">
            <div class="span8">
              <div id="mossaic-hero-image" class="hero-unit">
                <div id="mossaic-hero-text">
                    <h2>MoSSaiC Simulation Platform</h2>
                    <p>Welcome to the MoSSaiC Simulation Platform.</p>
                    <br />
                    <p>Please log in or sign up to get started.</p>
                </div>
              </div>
            </div>
            <div class="span4 mossaic-panel">
              <div id="login_widget"></div>
            </div>
          </div>
        </div>
        <div class="mossaic-footer">
          <p>Copyright <a href="http://mossaic.org">MoSSaiC</a> 2005-2012 All rights reserved</p>
        </div>
      </div>
    </div>
  </body>
</html>
